# productionモードで動かす為には、secret_keyを設定します。
# `rake secret` により生成するのがオススメです。
SECRET_KEY_BASE   = __some_random_string__

# 認証キーの設定
# ランダムな文字列を指定します。
DEVISE_SECRET_KEY = __some_random_string__

# アプリケーションのドメインを設定します。
LODGE_DOMAIN      = lodge-sample.herokuapp.com

# メールの設定します。
MAIL_SENDER       = lodge@no-reply.com
SMTP_ADDRESS      = smtp.gmail.com
SMTP_PORT         = 587
SMTP_USERNAME     = username
SMTP_PASSWORD     = password
