<% uuid = next_uuid %>
<%= link_to "Markdown", "#", class: ["toggle-markdown-help", "glyphicon", "glyphicon-question-sign"], data: {toggle: "modal", target: "[data-uuid='#{uuid}']"} %>

<%= content_tag :div, class: ["modal", "fade", "modal-markdown-help"], data: {uuid: uuid} do %>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Markdown ヘルプ</h4>
      </div>
      <div class="modal-body">
        <table class="table-bordered">
          <thead>
            <tr>
              <th>表示</th>
              <th>Markdown</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>太字</td>
              <td>**text**</td>
            </tr>
            <tr>
              <td>強調表示</td>
              <td>*text*</td>
            </tr>
            <tr>
              <td>コードのインライン表示</td>
              <td>`text`</td>
            </tr>
            <tr>
              <td>シンタックスハイライト</td>
              <td>
                ```lang:filename<br>
                text<br>
                ```
              </td>
            </tr>
            <tr>
              <td>リンク</td>
              <td>[text](http://www.example.com/)</td>
            </tr>
            <tr>
              <td>見出し</td>
              <td>
                # text<br>
                ## text<br>
                ### text
              </td>
            </tr>
            <tr>
              <td>箇条書き</td>
              <td>
                - text<br>
                - text<br>
                - text
              </td>
            </tr>
            <tr>
              <td>番号付きの箇条書き</td>
              <td>
                1. text<br>
                2. text<br>
                3. text
              </td>
            </tr>
            <tr>
              <td>水平線</td>
              <td>---</td>
            </tr>
            <tr>
              <td>引用</td>
              <td>&gt; text</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
