$body-bg: #cb8;
$brand-primary: #753;
$brand-success: #b8b85c;

$font-family-sans-serif: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,sans-serif;
$font-family-monospace: Ricty, Menlo, Monaco, Consolas, "Courier New", monospace;
