/* line 2, ../sass/ie.scss */
#main-container {
  background-color: #fff;
}

/* line 7, ../sass/ie.scss */
#article-area {
  background-color: #fff;
}

/* line 12, ../sass/ie.scss */
#article-title {
  border-bottom: 2px dashed #eee;
}

/* line 19, ../sass/ie.scss */
.markdown {
  h1 {
    background-color: #eee;
  }

  blockquote {
    background-color: #eee;
  }
}

.CodeRay {
  .code-filename-row {
    th {
      background-color: #fff;
    }
  }
}

/* line 24, ../sass/ie.scss */
#comment-list {
  background-color: #fff;
}

#notifications-area {
  background-color: #fff;

  li {
    a {
      &:hover {
        height: 100%;
        background-color: #eef;
        color: #666;
      }
    }
  }
}
