// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-table {
  colgroup:first-child {
    width: 40%;
  }
  colgroup:last-child {
    width: 60%;
  }
}

#tag-input-container {
  .tag-group {
    display: inline-block;
    margin-right: 5px;
    .btn {
      margin-bottom: -12px;
    }
    .form-control {
      display: inline-block;
      width: inherit;
    }
  }
  #js-add-tag-btn {
    margin-bottom: -12px;
  }
}