// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-table {
  colgroup:first-child {
    width: 40%;
  }
  colgroup:last-child {
    width: 60%;
  }
}

/*
$g-radius-px: 5px;

#menu {
}

.article-new-link-area {
  text-align: right;
}

#articles-table {
  .article-title-column {
    height: 20px;

    p {
      overflow-x: hidden;
      text-overflow: ellipsis;
      width: 400px;
    }
  }
}

%text-form-style {
  width: 780px;
  padding: 3px;
  border-radius: $g-radius-px;
  border: 1px solid #aaa;
}

#article-form {
  margin-bottom: 50px;

  input[type="text"],
  textarea {
    @extend %text-form-style;
  }
}

.preview-area {
  display: none;
  border: 1px solid #aaa;
  padding: 10px;
  margin-bottom: 20px;
}

.article-comment-textarea {
  @extend %text-form-style;
  height: 150px;
}

#article-area {
  @extend %text-form-style;
  background-color: rgba(255,255,255,.5);
  padding: 10px;

}

#article-title {
  font-size: 200%;
  line-height: 1.5em;
  border-bottom: 2px dashed rgba(200,200,200,.7);
  margin-top: 0;
}

#article-info-area {
  text-align: right;
}

#comment-list {
  border-bottom: 1px solid #aaa;
  background-color: rgba(255,255,255,.5);

  dt {
    border-top: 1px solid #aaa;
    padding: 10px;

    .comment-info {
      position: absolute;
      right: 0;
      margin-right: 10px;

      a {
        color: #666;
        text-decoration: underline;

        &:hover {
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }

  dd {
    margin-left: 20px;
    padding: 0 10px 10px 10px;
    .article-comment-textarea {
      width: 740px;
    }
  }
}


#article-body-textarea {
  height: 600px;
}

.comment-form {
  text-align: left;
}

#operation-area,
#article-timestamp-area {
  text-align: right;
}

#article-timestamp-area {
  margin-bottom: 5px;

  span {
    margin-left: 5px;
  }
}

.stock-link {
  text-decoration: none;
}

.actions {
  margin: 10px 0;
}
*/
