// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-table {
  colgroup:first-child {
    width: 80%;
  }
  colgroup:last-child {
    width: 20%;
    white-space: nowrap;
  }
}
