// Place all the styles related to the update_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.update-history-table {
  colgroup:first-child {
    width: 50%;
  }
  colgroup:last-child {
    width: 50%;
    white-space: nowrap;
  }
}
